@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header {
  &__top {
    background-color: $dark-800;
    padding: 14px 0;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    @extend %opensans-700;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    vertical-align: middle;
  }
  &__link {
    height: 22px;
    display: inline-block;
  }

  &__link--address {
    margin-right: 45px;
    background-image: url(../images/icons/address.svg);
    background-repeat: no-repeat;
    padding-left: 44px;
    outline: transparent;
    transition: opacity 0.3s,
                background-image 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      background-image: url(../images/icons/address-hover.svg);
    }
  }

  &__link--tel {
    background-image: url(../images/icons/tel.svg);
    background-repeat: no-repeat;
    padding-left: 34px;
    outline: transparent;
    transition: opacity 0.3s,
      color 0.3s,
      background-image 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      background-image: url(../images/icons/tel-hover.svg);
    }
  }
  &__bottom {
    background-color: $green-900;
  }
  &__logo {
    padding: 25px 0;
    margin-right: 24px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    outline: 3px solid transparent;
    transition: outline 0.3s;
    &:focus {
      outline: 3px solid $green-100;
      border-radius: 3px;
    }
  }
}

.catalog {
  position: relative;
  margin-right: 30px;
  &__btn {
    padding: 15px 38px 15px 61px;
    border: none;
    border-radius: 6px;
    outline: transparent;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #63A60E;
    background-image: url(../images/icons/nav_catalog.svg);
    background-repeat: no-repeat;
    background-position: 8% 49%;
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      background-image: url(../images/icons/chevron-right_catalog.svg);
      background-repeat: no-repeat;
      width: 8px;
      height: 4px;
      right: 7%;
      top: 45%;
    }
    &.catalog__btn--active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $green-200;
      &::before {
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    display: none;
    &.catalog__content--active {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
      max-width: 240px;
      width: 100%;
      z-index: 999;
    }
  }
  &__item {
    padding: 15px 15px 15px 24px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000;
    border-left: 3px solid transparent;
    transition: color 0.3s,
                border 0.3s,
                box-shadow 0.3s;
    &:hover {
      color: #63A60E;
      border-left: 3px solid #63A60E;
      cursor: pointer;
    }
    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
    }
    &:active {
      color: $silver-600;
    }
  }
  &__item:not(:last-child) {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }
}

.search {
  max-width: 577px;
  width: 100%;
  position: relative;
  margin-right: 58px;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/icons/search.svg);
    width: 20px;
    height: 20px;
    top: 33%;
    left: 2%;
    }
  &__input {
    padding: 15px 0 15px 51px;
    width: 100%;
    outline: transparent;
    border: none;
    border-radius: 6px;
    &::placeholder {
      color: $dark-800;
      @extend %opensans-400;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.03em;
    }
  }
  &__btn {
    padding: 15px 54px;
    position: absolute;
    background-color: $dark-800;
    color: $white;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: opacity 0.3s,
                outline 0.3s;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: 4px solid rgba(255, 255, 255, 0.5);
    }
    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__btn{
    border: none;
    background-color: inherit;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    &--customer {
      background-image: url(../images/icons/customer.svg);
      margin-right: 27px;
      width: 32px;
      height: 32px;
    }
    &--favorite {
      background-image: url(../images/icons/favorite.svg);
      margin-right: 24px;
      width: 38px;
      height: 36px;
    }
    &--cart {
      background-image: url(../images/icons/cart.svg);
      width: 39px;
      height: 37px;
    }
  }
  &__number {
    color: $red-900;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    bottom: 22px;
    right: 28px;
  }
}

// .cart {
//   display: none;
//   position: absolute;
//   height: 100vh;
//   z-index: 2;
//   &.cart--active {
//     display: block;
    
//   }
// }

.top-slider {
  &__item {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__content {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1290px;
    width: 100%;
    height: 315px;
    padding: 24px 0 24px 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    @extend %ruda-900;
    color: $dark-500;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 761px;
    width: 100%;
    letter-spacing: 0;
    & span {
      color: $red-900;
    }
  }
  &__text {
    color: $dark-500;
    margin: 7px 0 36px;
    @extend %opensans-400;
    font-size: 15px;
  }
  &__btn {
    transition: background-color 0.3s,
                box-shadow 0.3s,
                color 0.3s;
    &:hover {
      background-color: #4D810C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }
    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.slick-btn {
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 60px;
  &.slick-next {
    right: 0;
    &:disabled {
      
    }
  }
  & img {
    margin: 0 auto;
  }
}

.advantages {
  background-color: $silver-100;
  margin-top: -3px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 146px;
  }
  &__item:not(:last-child) {
    margin-right: 66px;
  }
  &__item {
    height: 50px;
    width: 264px;
    padding-left: 74px;
    background-repeat: no-repeat;
  }
  &__title {
    font-size: 15px;
    margin-bottom: 6px;
  }
  &__text {
    @extend %opensans-400;
    color: $dark-500;
    letter-spacing: 0;
  }
  &__item--scooter {
    background-image: url(../images/icons/scooter.svg);
  }
  &__item--return-box {
    background-image: url(../images/icons/return-box.svg);
  }
  &__item--24-hours {
    background-image: url(../images/icons/24-hours.svg);
  }
}

.top {
  padding: 72px 0;
  text-align: center;
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
  }
  &__btn {
    border: 1px solid #63A60E;
    background-color: $white;
    color: #63A60E;
    transition: background-color 0.3s,
                box-shadow 0.3s;
    &:hover {
      background-color: $green-100;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }
    &:active {
      color: rgba(99, 166, 14, 0.5);
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  &__btn {
    @extend %opensans-700;
    color: $dark-500;
    background-color: transparent;
    padding: 0;
    font-size: 15px;
    line-height: 1.4;
    border: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid transparent;
    transition: color 0.3s,
                box-shadow 0.3s,
                border 0.3s;
    &:hover {
      color: #63A60E;
    }
    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
      border-radius: 3px;
    }
    &:active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }

  &__item:not(:last-child) {
    margin-right: 18px;
  }
}

.card {
  width: 300px;
  min-height: 409px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  text-align: left;
  transition: border 0.3s;
  &__head {
    margin: 11px 10px 55px;
    position: relative;
  }
  &__badges {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__badge--green,
  &__badge--red,
  &__badge--orange {
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    border-radius: 6px;
    padding: 3px 6px;
  }
  &__badge--green {
    width: 66px;
    background-color: #63A60E;
    margin-bottom: 6px;
  }
  &__badge--red {
    width: 37px;
    background-color: $red-900;
  }
  &__badge--orange {
    width: 34px;
    background-color: $orange-900;
  }
  &__favorite-btn {
    position: absolute;
    width: 32px;
    height: 28px;
    background-image: url(../images/icons/favorite-btn.svg);
    background-color: transparent;
    border: none;
    top: 5px;
    right: 0;
    cursor: pointer;
  }
  &__link {
    display: inline-block;
    max-width: 298px;
    width: 100%;
    position: relative;
    // transition: all 0.3s;
    // плавность не задается
    &:hover.card__link::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.1);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &:hover.card__link::after {
      content: "";
      position: absolute;
      background-color: $white;
      background-image: url(../images/icons/card-search.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 48px;
      height: 48px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
  &__img {
    max-width: 298px;
    object-fit: cover;
  }
  &__bottom {
    width: 263px;
    height: 101px;
    margin: 15px 17px;
    letter-spacing: 0;
    position: relative;
    &-link {
      width: 259px;
      position: absolute;
      top: 0;
      left: 0;
      @extend %opensans-700;
    }
  }
  &__price {
    position: absolute;
    left: 0;
    bottom: 0;
    &-old {
      @extend %opensans-400;
      line-height: 1;
      color: $silver-600;
      margin-bottom: 3px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 44.86px;
        height: 0.63px;
        background-color: $silver-600;
        top: 50%;
        transform: rotate(-15deg);
      }
    }
    &-new {
      @extend %opensans-400;
      line-height: 1;
      color: $dark-500;
    }
  }
  &__cart-btn {
    width: 32px;
    height: 32px;
    border: none;
    background-color: #63A60E;
    background-image: url(../images/icons/cart-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  &:hover {
    border: 1px solid #63A60E;
  }
}

.footer {
  background-color: $dark-800;
  color: $white;
  @extend %opensans-400;
  font-size: 14px;
  &__item:first-child {
    margin-right: 75px;
  }
  &__logo {
    padding: 28px 0;
    display: inline-block;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__item:first-child {
    max-width: 306px;
    width: 100%;
  }
  &__text {
    margin-bottom: 18px;
    line-height: 1;
  }
  &__form {
    width: 100%;
    position: relative;
  }
  &__input {
    display: inline-block;
    padding: 10px;
    width: 100%;
    outline: transparent;
    border: none;
    border-radius: 6px;
    &::placeholder {
      line-height: 1;
      color: #4F4F4F;
    }
  }
  &__btn {
    padding: 11.5px 17px;
    position: absolute;
    background-color: #63A60E;
    font-size: 12px;
    color: $white;
    @extend %opensans-700;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s,
                box-shadow 0.3s,
                color 0.3s;
    &:hover {
      background-color: #4D800C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__menu {
    columns: 3;
    column-gap: 74px;
    letter-spacing: 0;
    &-item {
      margin-bottom: 18px;
      width: 129px;
    }
    &__item:last-child {
      max-width: 215px;
      width: 100%;
    }
  }
  
  &__tel,
  &__address {
    display: block;
  }
  &__address {
    margin: 18px 0;
  }
  
  .social {
    display: flex;
    align-items: center;
    padding-left: 6px;
    &__link {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
    }
    &__item:not(:last-child) {
      margin-right: 12px;
    }
    &__link--facebook {
      background-image: url(../images/icons/facebook.svg);
    }
    &__link--youtube {
      background-image: url(../images/icons/youtube.svg);
    }
    &__link--telegram {
      background-image: url(../images/icons/telegram.svg);
    }
    &__link--instagram {
      background-image: url(../images/icons/instagram.svg);
    }
  }
    &__bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      &-inner {
      height: 78px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
    }
    &__payment {
      display: flex;
      &--visa {
        background-image: url(../images/icons/visa.svg);
        height: 29px;
        width: 93px;
        margin-right: 24px;
      }
      &--mc {
        background-image: url(../images/icons/mc.svg);
        height: 29px;
        width: 49px;
      }
    }
}





@import 'media';