@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {
  &__top {
    background-color: $dark-800;
    padding: 14px 0;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    @extend %opensans-700;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__link {
    height: 22px;
    display: inline-block;
  }

  &__link--address {
    margin-right: 48px;
    background-image: url(../images/icons/address.svg);
    background-repeat: no-repeat;
    padding-left: 44px;
    outline: transparent;
    transition: opacity 0.3s,
      background-image 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      background-image: url(../images/icons/address-hover.svg);
    }
  }

  &__link--tel {
    background-image: url(../images/icons/tel.svg);
    background-repeat: no-repeat;
    padding-left: 34px;
    outline: transparent;
    transition: opacity 0.3s,
      color 0.3s,
      background-image 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      background-image: url(../images/icons/tel-hover.svg);
    }
  }
  &__bottom {
    background-color: $green-900;
  }
  &__logo {
    padding: 25px 0;
    margin-right: 24px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    outline: 3px solid transparent;
    transition: outline 0.3s;
    &:focus {
      outline: 3px solid $green-100;
      border-radius: 3px;
    }
  }
}

.catalog {
  position: relative;
  margin-right: 30px;
  &__btn {
    padding: 15px 38px 15px 61px;
    border: none;
    border-radius: 6px;
    outline: transparent;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #63A60E;
    background-image: url(../images/icons/nav_catalog.svg);
    background-repeat: no-repeat;
    background-position: 10%;
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      background-image: url(../images/icons/chevron-right_catalog.svg);
      background-repeat: no-repeat;
      width: 8px;
      height: 4px;
      right: 7%;
      top: 45%;
    }
    &.catalog__btn--active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $green-200;
      &::before {
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    display: none;
    &.catalog__content--active {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
      max-width: 240px;
      width: 100%;
      z-index: 999;
    }
  }
  &__item {
    padding: 15px 15px 15px 24px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000;
    border-left: 3px solid transparent;
    transition: color 0.3s,
                border-left 0.3s;
    &:hover {
      color: #63A60E;
      border-left: 3px solid #63A60E;
      cursor: pointer;
    }
  }
  &__item:not(:last-child) {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }
}

.search {
  max-width: 577px;
  width: 100%;
  position: relative;
  margin-right: 58px;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/icons/search.svg);
    width: 20px;
    height: 20px;
    top: 33%;
    left: 3%;
    }
  &__input {
    padding: 15px 0 15px 51px;
    width: 100%;
    outline: transparent;
    border: none;
    border-radius: 6px;
    &::placeholder {
      color: $dark-800;
      @extend %opensans-400;
    }
  }
  &__btn {
    padding: 15px 52px;
    position: absolute;
    background-color: $dark-800;
    color: $white;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: opacity 0.3s,
                outline 0.3s;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: 4px solid rgba(255, 255, 255, 0.5);
    }
    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__link{
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    &--customer {
      background-image: url(../images/icons/customer.svg);
      margin-right: 27px;
      width: 25px;
      height: 32px;
    }
    &--favorite {
      background-image: url(../images/icons/favorite.svg);
      margin-right: 24px;
      width: 38px;
      height: 36px;
    }
    &--cart {
      background-image: url(../images/icons/cart.svg);
      width: 39px;
      height: 37px;
    }
  }
  &__number {
    color: $red-900;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

.footer {
  background-color: $dark-800;
  color: $white;
  @extend %opensans-400;
  font-size: 14px;
  &__item:not(:last-child) {
    margin-right: 150px;
  }
  &__logo {
    padding: 30px 0;
    display: inline-block;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__item:first-child {
    max-width: 306px;
    width: 100%;
  }
  &__text {
    margin-bottom: 18px;
    line-height: 1;
  }
  &__form {
    width: 100%;
    position: relative;
  }
  &__input {
    display: inline-block;
    padding: 12px;
    width: 100%;
    outline: transparent;
    border: none;
    border-radius: 6px;
    &::placeholder {
      line-height: 1;
      color: #4F4F4F;
    }
  }
  &__btn {
    padding: 13.5px 17px;
    position: absolute;
    background-color: #63A60E;
    font-size: 12px;
    color: $white;
    @extend %opensans-700;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s,
                box-shadow 0.3s,
                color 0.3s;
    &:hover {
      background-color: #4D800C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__menu {
    columns: 3;
    column-gap: 75px;
    padding-bottom: 12px;
    &-item {
      margin-bottom: 18px;
    }
  }
  &__item:last-child {
    max-width: 215px;
    width: 100%;
  }
  &__tel,
  &__address {
    display: block;
  }
  &__address {
    margin: 18px 0;
  }
  
  .social {
    display: flex;
    align-items: center;
    &__item {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
    }
    &__item:not(:last-child) {
      margin-right: 12px;
    }
    &__item--facebook {
      background-image: url(../images/icons/facebook.svg);
    }
    &__item--youtube {
      background-image: url(../images/icons/youtube.svg);
    }
    &__item--telegram {
      background-image: url(../images/icons/telegram.svg);
    }
    &__item--instagram {
      background-image: url(../images/icons/instagram.svg);
    }
  }
    &__bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      &-inner {
      height: 78px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
    }
    &__payment {
      display: flex;
      &--visa {
        background-image: url(../images/icons/visa.svg);
        height: 29px;
        width: 93px;
        margin-right: 24px;
      }
      &--mc {
        background-image: url(../images/icons/mc.svg);
        height: 29px;
        width: 49px;
      }
    }
}



@import 'media';